{% load static %}
<div class="col-lg-4 ">
    <div class="position-relative border mb-3">
        <img class="img-fluid w-100" src="{{i.header_image.url}}" style="object-fit: cover; height: 150px;">
        <div class="overlay position-relative bg-light" style="height: 150px;">
            <div style="font-size: 14px;">
                <a href="{% url 'Blog-List' i.category.slug %}">{{i.category}}</a>
                <span class="px-1">/</span>
                <span>{{i.created_at|date:"d M Y"}}</span>
            </div>
            <a class="h4" href="{% url 'Blog-Details' i.slug %}">{{i.title|slice:":20"}}...</a>
        </div><hr >
        <div class="d-flex justify-content-between p-2">
            <a class="btn btn-outline-secondary text-center rounded" href="{% url 'Edit-Blog' i.slug %}" style="width: 60px; height: 38px;"><i class="fa fa-pencil"></i></a>
            <a class="btn btn-outline-secondary text-center rounded" href="{% url 'Delete-Blog' i.slug %}" style="width: 60px; height: 38px;"><i class="fa fa-trash"></i></a>
        </div>
    </div>
</div>
